html, body {
  height: 100%;
  width: 100%;
}

a:link{
  color: #FF7F50;
  text-decoration: underline;
  
}

a:hover{
color: #FF7F50;
  text-decoration: overline;
  
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: line-through;
}

h1 {
  text-align: center;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid black;
  background-color: rgba(76, 175, 80, 0.3)
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: auto;
  
}

.number_d{
  color: #FF7F50;
  font-weight: bold;
  border: 5px solid black;
  margin-bottom: 10px;
  font-size: 20px;
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  
}


.display-link a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: black;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
}

body {
  background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnQlMjBibHVlfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: navy;
  color: #FF7F50;
}

h4{
  color: white;
}